.footer {
    padding: 12px 0;
    margin-top: 48px;
    text-align: center;
}

.footer-container {
    margin: 0 auto;
    font-size: 0.875rem;
}

.footer-copyright, .footer-build-info {
    margin-bottom: 8px;
}