.create-container {
  display: flex;
  justify-content: center;
}

.create-container-title-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  width: 31em;
  padding: 1.2em 1.5em;
  margin-top: 1.5em;
}

.create-container-title {
  display: flex;
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 1em;
}

.form-container {
  display: flex;
  justify-content: center;
}

/* FORMS */

.create-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  row-gap: 16px;
}

input {
  border-radius: 10px;
  background-color: #e5e5e5;
  height: 38px;
  width: 100%;
  padding: 0 12px;
  border: none;
  font-size: 0.9rem;
}

input:focus {
  outline: none;
}

select {
  appearance: none;
  border-radius: 10px;
  background-color: #e5e5e5;
  height: 38px;
  width: 100%;
  padding: 0 12px;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
}

select:focus {
  outline: none;
}

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

.submit-btn-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
}

.submit-btn {
  padding: 8px 22px;
  border-radius: 10px;
  border: none;
  background-color: #d6ccc4;
  color: #6b6259;
  font-weight: 600;
  cursor: pointer;
}
