.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -10px;
}

.title-icon {
  display: flex;
  align-items: center;
  gap: 0.8em;
}

.icon {
  font-size: 100px;
}

.title {
  font-size: 2.5em;
  margin-bottom: 0px;
  font-weight: 550;
}

.slogan {
  font-weight: 450;
  font-size: 26px;
  margin-top: -18px;
}

