:root {
  --primary-action-color: #4A7A7B;
  --background-color: #F5F5DC;
  --secondary-background-color: #8E6161;
  --text-icons-color: #34231b;
  --accents-alerts-color: #B30000;
}

#root {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
  }

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: var(--background-color);
  justify-content: center;
}

.app-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}