@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --background-color: #e3d6cb;
  --secondary-background-color: #8e6161;
  font-family: "Inter", sans-serif;
  color: #212936; 
}

/* #root {
  max-width: 1280px;
} */

body {
  display: flex;
  /* min-width: 320px; */
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: var(--background-color);
  justify-content: center;
}

.app-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}


