.pantry-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  row-gap: 40px;
}

h2 {
  margin-top: 50px;
  margin-left: 10px;
  margin-bottom: 25px;
}

.pantry-card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 190px;
  padding: 8px 12px;
  padding-left: 20px;
}

ul {
  list-style-type: none;
}

.button-container {
  display: flex;
  justify-content: center;
}

.x-button-container {
  display: flex;
  justify-content: end;
  margin-bottom: 1px;
  gap: 5px;
}

.x-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.alert-notification {
  display: flex;
  align-items: center;
  gap: 3px;
  background-color: #F1BB6F;
  border-radius: 10px;
  padding: 0px 6px;
  padding-top: 1px;
  font-size: 0.em;
}

.update-button {
  padding: 8px 22px;
  border-radius: 10px;
  border: none;
  background-color: #d6ccc4;
  color: #6b6259;
  font-weight: 600;
  cursor: pointer;
  margin-top: 15px;
}

input {
  border-radius: 10px;
  background-color: #e5e5e5;
  height: 38px;
  width: 100%;
  padding: 0 12px;
  border: none;
  font-size: 0.9rem;
}

.form-input {
  transform: translate(20%, 0%);
  border-radius: 6px;
  background-color: #e5e5e5;
  height: 27px;
  width: 72%;
  padding: 0 9px;
  border: none;
  font-size: 0.9rem;
  padding-bottom: 5px; 
}

/* UPDATE CONTAINER */

.save-cancel-container{
  display: flex;
  gap: 14px;
}

.save-cancel-buttons{
  padding: 6px 20px;
  border-radius: 10px;
  border: none;
  background-color: #d6ccc4;
  color: #6b6259;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}