.pantry-container {
background-color: var(--primary-action-color);
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 40px;
}

.pantry-card {
 padding: 2em;
 background: var(--background-color);
 border-radius: 8px;
 box-shadow: 0 2px 8px rgba(0, 0,0,0.1);
 color: var(--text-icons-color);
 width: 70%;
 max-width: 400px;
 margin: 20px;
}
 ul {
    list-style-type: none;
 }

 .button-container {
    display: flex;
    justify-content: space-between;
 }
 .button {
    padding: .35em;
    margin-right: 2em;
    margin-left: 2em;
    margin-top: 1em;
    background: var(--secondary-background-color);
    color: var(--background-color);
    border-radius: .5em;;
 }