
.pantry-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  row-gap: 40px;
}

h2 {
  margin-top: 50px;
  margin-left: 10px;
  margin-bottom: 25px;
}


.pantry-card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 186px;
  padding: 8px 12px;
  padding-left: 20px;
}


ul {
  list-style-type: none;
}

.button-container {
  display: flex;
  justify-content: center;
}

.x-button-container {
  display: flex;
  justify-content: end;
  margin-bottom: -10px;
}

.x-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.update-button {
  padding: 8px 22px;
  border-radius: 10px;
  border: none;
  background-color: #d6ccc4;
  color: #6b6259;
  font-weight: 600;
  cursor: pointer;
  margin-top: 15px;
}

